.navbarLeft {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 1rem;
}

.navbarCenter {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navbarRight {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 1rem;
}

nav {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    align-items: baseline;
    justify-content: space-between;
    padding: 0; /* TODO: figure out why there is left padding here by default */

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 1rem;
            margin-left: 1rem;
            text-align: center;

            a {
                text-decoration: none;
            }

        }

    }

    h3 {
        a {
            text-decoration: none;
        }
    }

}